.root {
  --primary-color: "#3e4073";
  --secondary-color: "#586ba4";
  --tertiary-color: "#f5dd90";
}

.backgroundColor {
  background-color: var(--primary-color);
}

.nav-text {
  font-size: 16px;
  color: white;
  padding-right: 24px;
  text-decoration: none;
}
.nav-text:hover {
  color: aquamarine;
}
.mt-12 {
  margin-top: 12px;
}
.mb-12 {
  margin-bottom: 12px;
}
.m-12 {
  margin: 12px;
}

.mt-24 {
  margin-top: 24px;
}

.pl-0{
  padding-left: 0px !important;
}


.z-10 {
  z-index: 10;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.mask-img {
  mask-image: url("./assets/images/cover.svg");
  width: 500px;
  height: 500px;
  mask-size: 500px;
  mask-repeat: no-repeat;
  object-fit: cover;
  background-image: url("https://img.freepik.com/free-photo/business-people-posing-together-office_23-2148746329.jpg?t=st=1730348792~exp=1730352392~hmac=a673fe915da9d6656164748ca3365724d07909ae5f7c61debfb36a0429077919&w=740");
}

.why-bg-color {
  background-color: #324376;
  color: white;
}

.icon-wrapper {
  padding: 20px;

  background-color: white;
}

.container-top-space {
  padding: 120px;
}
.text-space {
  margin: 20px 0;
  /* margin:20 20 20 20 */
  /* margin: top right bottom left */
}

.custom-list {
  list-style: none;
}

/* .shape{
  position: relative;
} */
.shape img{
  position: absolute;
  top: 10%;
height: 420px;
  left: 0;
  /* transform: translate(-50%,-50%); */
  z-index: -1;
}



.container-y-space{
  padding:120px 0;
}

.padding-card{
  padding:0 20px !important
}

.service-img{
  background-image: url("https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15854.jpg?t=st=1730699537~exp=1730703137~hmac=e7622ce3e1d145583549a29ddf39423399b06810807e3bdfa957c6f063aef566&w=1060");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
height: 400px;
width:"100%";
}